In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('TARCH.xlsx')

In [3]:
# split subjects into new columns
df['Counts'] = df['Subjects'].str.count(';')

df['Counts'] = df['Counts'] + 1
df2 = df['Subjects'].str.split(';', expand=True)

df2.columns = ['Subject_1', 'Subject_2', 'Subject_3', 'Subject_4', 'Subject_5', 'Subject_6', 'Subject_7', 'Subject_8',
             'Subject_9', 'Subject_10', 'Subject_11', 'Subject_12', 'Subject_13', 'Subject_14', 'Subject_15', 'Subject_16', 'Subject_17', 'Subject_18',
             'Subject_19', 'Subject_20','Subject_21', 'Subject_22', 'Subject_23', 'Subject_24', 'Subject_25', 'Subject_26', 'Subject_27', 'Subject_28',
             'Subject_29', 'Subject_30','Subject_31', 'Subject_32', 'Subject_33', 'Subject_34', 'Subject_35', 'Subject_36', 'Subject_37', 'Subject_38',
             'Subject_39', 'Subject_40', 'Subject_41', 'Subject_42', 'Subject_43', 'Subject_44', 'Subject_45', 'Subject_46']

df2.groupby(['Subject_1'], as_index=False).size()
df2.pivot_table(index='Subject_1', columns='Subject_2', aggfunc='size').max()

Subject_2
 2000-2099                                                          1.0
 40 Wall Street (New York, N.Y.)                                    1.0
 51N4E.                                                             8.0
 A-frame houses--United States.                                     6.0
 AIDS (Disease)--Patients--Housing--Washington (State)--Seattle.    1.0
                                                                   ...
 farm buildings--Great Britain.                                     1.0
 fengshui.                                                          1.0
 nomads.                                                            2.0
 p--z--y--Architecture (object genre)--United States--1910-1960.    1.0
 ʻAyyāsh, Yaḥyá.                                                 1.0
Length: 5690, dtype: float64

In [4]:
new_df = df.join(df2)
loans_df = new_df
#loans_df = loans_df.drop(columns='Loan Date')
#loans_df = loans_df.drop(columns='Permanent Call Number')
#loans_df = loans_df.drop(columns='In House Loan Indicator')
#loans_df = loans_df.drop(columns='Location Code')

loans_df = loans_df.sort_values(by=['Loans per title (2018-2022)'], ascending=False)

loans_df = loans_df.drop_duplicates()

loans_df

,MMS Id,Title,Author,Begin Publication Date,Subjects,Subjects (Names),Location Code,Permanent Call Number,Loan Date,In House Loan Indicator,...,Subject_37,Subject_38,Subject_39,Subject_40,Subject_41,Subject_42,Subject_43,Subject_44,Subject_45,Subject_46
9721,9941548400001701,El Croquis.,NaN,1982,Architecture--Spain--Periodicals.; Architectur...,NaN,PER,Unknown,2019-09-12,N,...,None,None,None,None,None,None,None,None,None,None
11357,9941548400001701,El Croquis.,NaN,1982,Architecture--Spain--Periodicals.; Architectur...,NaN,PER,Unknown,2019-11-19,N,...,None,None,None,None,None,None,None,None,None,None
16725,9941548400001701,El Croquis.,NaN,1982,Architecture--Spain--Periodicals.; Architectur...,NaN,PER,Unknown,2021-11-19,N,...,None,None,None,None,None,None,None,None,None,None
16714,9941548400001701,El Croquis.,NaN,1982,Architecture--Spain--Periodicals.; Architectur...,NaN,PER,Unknown,2021-11-18,N,...,None,None,None,None,None,None,None,None,None,None
10278,9941548400001701,El Croquis.,NaN,1982,Architecture--Spain--Periodicals.; Architectur...,NaN,PER,Unknown,2019-10-03,N,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9686,9933605280001701,"Beijing 798 : reflections on art, architecture...",NaN,2004,798 (Group of artists); Dashanzi factory compl...,798 (Group of artists); Dashanzi factory compl...,GEN,N7345 .B45 2004,2019-09-11,N,...,None,None,None,None,None,None,None,None,None,None
9684,9931917360001701,Raumplan versus plan libre : Adolf Loos and Le...,NaN,1988,"Le Corbusier,--1887-1965--Exhibitions.; Loos, ...","Le Corbusier, 1887-1965; Loos, Adolf, 1870-1933",GEN,Quarto NA7325 .R3813x 1988,2019-09-11,N,...,None,None,None,None,None,None,None,None,None,None
9681,9925136590001701,Architectural photography.,"Hausberg, Axel.",2012,Architectural photography,NaN,GEN,Quarto TR659 .H385 2012,2019-09-11,N,...,None,None,None,None,None,None,None,None,None,None
9678,9920368860001701,Borobudur /,"Dumarçay, Jacques",1991,Temples--Conservation and restoration--Indones...,"Borobudur (Temple : Magelang, Indonesia)",GEN,NA6026.6.B6 D8513 1992,2019-09-11,N,...,None,None,None,None,None,None,None,None,None,None
19917,9973978302901701,Arts & crafts architecture : history and herit...,"Meister, Maureen",2014,Architecture--New England--History.; Arts and ...,NaN,GEN,NA715 .M45 2014,2022-12-29,N,...,None,None,None,None,None,None,None,None,None,None

In [5]:
loans_df.to_csv('AlmaData2.csv', index=False)

In [ ]:
loans_df.columns

In [ ]:
uniques = pd.unique(loans_df[['Subject_1', 'Subject_2', 'Subject_3', 'Subject_4', 'Subject_5',
       'Subject_6', 'Subject_7', 'Subject_8', 'Subject_9', 'Subject_10',
       'Subject_11', 'Subject_12', 'Subject_13', 'Subject_14', 'Subject_15',
       'Subject_16', 'Subject_17', 'Subject_18', 'Subject_19', 'Subject_20',
       'Subject_21', 'Subject_22', 'Subject_23', 'Subject_24', 'Subject_25',
       'Subject_26', 'Subject_27', 'Subject_28', 'Subject_29', 'Subject_30',
       'Subject_31', 'Subject_32', 'Subject_33', 'Subject_34', 'Subject_35',
       'Subject_36', 'Subject_37', 'Subject_38', 'Subject_39', 'Subject_40',
       'Subject_41', 'Subject_42', 'Subject_43', 'Subject_44', 'Subject_45',
       'Subject_46']].values.ravel())

print(len(uniques), uniques)