In [2]:
import pandas as pd
import numpy as np

Testing Commit Changes

In [6]:
df = pd.read_excel('TARCH.xlsx')

In [7]:
len(df)

19918

In [9]:
df.head()

,MMS Id,Title,Author,Begin Publication Date,Subjects,Subjects (Names),Location Code,Permanent Call Number,Loan Date,In House Loan Indicator,Loans per title (2018-2022)
0,9913933350001701,Postmetropolis : critical studies of cities an...,"Soja, Edward W.",2000,Cities and towns; Metropolitan areas; Urbaniza...,NaN,GEN,HT119 .S65 2000,2018-01-02,N,5
1,9930689970001701,Presence of the past ; a history of the preser...,"Hosmer, Charles Bridgham, 1932-",1965,Monuments--Conservation and restoration--Unite...,NaN,GEN,E159 .H77,2018-01-02,N,3
2,9913970310001701,"Roman imperialism and civic patronage : form, ...","Longfellow, Brenda, 1973-",2011,Fountains--Rome.; Benefactors--Rome.; Architec...,NaN,GEN,Quarto NA9413.R57 L66 2011,2018-01-03,N,1
3,9916053390001701,Santa Fe : houses & gardens /,"Daley, Susan, 1953-",2002,"Architecture, Domestic--New Mexico--Santa Fe.;...",NaN,GEN,NA735.S433 D35 2002,2018-01-03,N,1
4,9916420580001701,San Francisco /,"Moorhouse, Geoffrey, 1931-2009",1979,San Francisco (Calif.)--Pictorial works,NaN,GEN,Quarto F869.S3 M66x 1979,2018-01-03,N,2

In [5]:
df_copy = df.copy()

In [6]:
columns =df.columns.values.tolist()
columns

['MMS Id',
 'Title',
 'Author',
 'Begin Publication Date',
 'Subjects',
 'Subjects (Names)',
 'Location Code',
 'Permanent Call Number',
 'Loan Date',
 'In House Loan Indicator',
 'Loans per title (2018-2022)']

In [7]:
pd.set_option('display.max_columns', None)

In [8]:
# string split on column in Subjects column and explode to a new column
subjects_df = df


subjects_df['Subjects'] = subjects_df['Subjects'].str.split(';')
subjects_df = subjects_df.explode('Subjects')

subjects_df.head(5)

,MMS Id,Title,Author,Begin Publication Date,Subjects,Subjects (Names),Location Code,Permanent Call Number,Loan Date,In House Loan Indicator,Loans per title (2018-2022)
0,9913933350001701,Postmetropolis : critical studies of cities an...,"Soja, Edward W.",2000,Cities and towns,NaN,GEN,HT119 .S65 2000,2018-01-02,N,5
0,9913933350001701,Postmetropolis : critical studies of cities an...,"Soja, Edward W.",2000,Metropolitan areas,NaN,GEN,HT119 .S65 2000,2018-01-02,N,5
0,9913933350001701,Postmetropolis : critical studies of cities an...,"Soja, Edward W.",2000,Urbanization,NaN,GEN,HT119 .S65 2000,2018-01-02,N,5
0,9913933350001701,Postmetropolis : critical studies of cities an...,"Soja, Edward W.",2000,Spatial behavior,NaN,GEN,HT119 .S65 2000,2018-01-02,N,5
0,9913933350001701,Postmetropolis : critical studies of cities an...,"Soja, Edward W.",2000,Postmodernism,NaN,GEN,HT119 .S65 2000,2018-01-02,N,5

In [9]:
subjects_df.to_csv('AlmaData.csv', index=False)

In [10]:
# convert to string and change year to whole year
subjects_df['Loan Date'] = subjects_df['Loan Date'].astype(str)

subjects_df['Loan Date'] = subjects_df['Loan Date'].str[:4]
subjects_df.head(25)
#subjects_df['Date'].unique()

#rename Loan Date to Date
subjects_df = subjects_df.rename({'Loan Date': 'Date'}, axis=1)

In [11]:
subjects_df.head()

,MMS Id,Title,Author,Begin Publication Date,Subjects,Subjects (Names),Location Code,Permanent Call Number,Date,In House Loan Indicator,Loans per title (2018-2022)
0,9913933350001701,Postmetropolis : critical studies of cities an...,"Soja, Edward W.",2000,Cities and towns,NaN,GEN,HT119 .S65 2000,2018,N,5
0,9913933350001701,Postmetropolis : critical studies of cities an...,"Soja, Edward W.",2000,Metropolitan areas,NaN,GEN,HT119 .S65 2000,2018,N,5
0,9913933350001701,Postmetropolis : critical studies of cities an...,"Soja, Edward W.",2000,Urbanization,NaN,GEN,HT119 .S65 2000,2018,N,5
0,9913933350001701,Postmetropolis : critical studies of cities an...,"Soja, Edward W.",2000,Spatial behavior,NaN,GEN,HT119 .S65 2000,2018,N,5
0,9913933350001701,Postmetropolis : critical studies of cities an...,"Soja, Edward W.",2000,Postmodernism,NaN,GEN,HT119 .S65 2000,2018,N,5

In [12]:
# split the data year by year then write it out
def Mask(year):
    mask_year = subjects_df[(subjects_df.Date == year)]
    mask_year.to_csv('AlmaData' + str(year) +'.csv', index=False )
    return(mask_year)
    print(mask_year)
    
for i in range(2018,2023):
    files = Mask(str(i))
    uniques = (i, len(files['Subjects'].unique()))
    print(uniques)

(2018, 10530)
(2019, 10079)
(2020, 5743)
(2021, 6240)
(2022, 6713)

In [13]:
# Extract only the first subject
df_copy['Subjects'] = df_copy['Subjects'].str.split(';').str[0]

df_copy.head()

,MMS Id,Title,Author,Begin Publication Date,Subjects,Subjects (Names),Location Code,Permanent Call Number,Loan Date,In House Loan Indicator,Loans per title (2018-2022)
0,9913933350001701,Postmetropolis : critical studies of cities an...,"Soja, Edward W.",2000,Cities and towns,NaN,GEN,HT119 .S65 2000,2018-01-02,N,5
1,9930689970001701,Presence of the past ; a history of the preser...,"Hosmer, Charles Bridgham, 1932-",1965,Monuments--Conservation and restoration--Unite...,NaN,GEN,E159 .H77,2018-01-02,N,3
2,9913970310001701,"Roman imperialism and civic patronage : form, ...","Longfellow, Brenda, 1973-",2011,Fountains--Rome.,NaN,GEN,Quarto NA9413.R57 L66 2011,2018-01-03,N,1
3,9916053390001701,Santa Fe : houses & gardens /,"Daley, Susan, 1953-",2002,"Architecture, Domestic--New Mexico--Santa Fe.",NaN,GEN,NA735.S433 D35 2002,2018-01-03,N,1
4,9916420580001701,San Francisco /,"Moorhouse, Geoffrey, 1931-2009",1979,San Francisco (Calif.)--Pictorial works,NaN,GEN,Quarto F869.S3 M66x 1979,2018-01-03,N,2

In [22]:
df_2020yr = pd.read_csv('AlmaData2020Cleaned.csv')
df_2020yr.head()

,MMS Id,Title,Author,Begin Publication Date,Subjects,Subjects (Names),Location Code,Permanent Call Number,Date,In House Loan Indicator,Loans per title (2018-2022)
0,9937553880001701,Architect.,NaN,2006,Architects--United States--Periodicals.,NaN,PER,Unknown,2020,N,12
1,9937553880001701,Architect.,NaN,2006,Architecture--United States--Periodicals,NaN,PER,Unknown,2020,N,12
2,9937553880001701,Architect.,NaN,2006,Architects--Periodicals.,NaN,PER,Unknown,2020,N,12
3,9937553880001701,Architect.,NaN,2006,Architectural practice--United States--Period...,NaN,PER,Unknown,2020,N,12
4,9937553880001701,Architect.,NaN,2006,Architectural services marketing--United States.,NaN,PER,Unknown,2020,N,12

In [15]:
cleaned_uniques = len(df_2020yr['Subjects'].unique())
uniques = uniques[1]
print('Number of uniques before cleaning:', uniques, 'Number of uniques after cleaning:', cleaned_uniques)

Number of uniques before cleaning: 6713 Number of uniques after cleaning: 5215

In [23]:
# subset dataset 
df_2020yr = df_2020yr[['MMS Id',
 'Title',
 'Begin Publication Date',
 'Subjects',
 'Date', 'Permanent Call Number', 'Loans per title (2018-2022)']]
df_2020yr.head()

,MMS Id,Title,Begin Publication Date,Subjects,Date,Permanent Call Number,Loans per title (2018-2022)
0,9937553880001701,Architect.,2006,Architects--United States--Periodicals.,2020,Unknown,12
1,9937553880001701,Architect.,2006,Architecture--United States--Periodicals,2020,Unknown,12
2,9937553880001701,Architect.,2006,Architects--Periodicals.,2020,Unknown,12
3,9937553880001701,Architect.,2006,Architectural practice--United States--Period...,2020,Unknown,12
4,9937553880001701,Architect.,2006,Architectural services marketing--United States.,2020,Unknown,12

In [24]:
count_subjects = df_2020yr['Subjects'].value_counts()
count_subjects.head(50)

 History                                                   115
 Architecture                                              113
 City planning                                             109
 Architecture, Modern--20th century                        103
 Architecture and society                                   71
 Architecture, Modern--21st century                         68
 Architecture, Domestic                                     57
 Architecture, Modern                                       53
 Sustainable architecture                                   52
 Architectural design                                       49
Architecture--Environmental aspects                         49
 United States                                              48
 Architecture--Periodicals                                  40
 1900-1999                                                  40
 Periodicals                                                39
 Architecture--Human factors                                39
 Pictorial works                                            34
 Landscape architecture                                     33
 Interior decoration                                        33
 Architecture--Philosophy                                   33
 Japan                                                      32
 Architektur                                                30
 City planning--Environmental aspects                       27
 Architectural drawings                                     27
 Buildings                                                  27
 2000-2099                                                  26
 Urbanization                                               26
 Space (Architecture)                                       23
 Architecture--Japan--History--20th century                 23
 1900-2099                                                  23
Architecture, Domestic--Japan                               23
 Design                                                     22
 Sociology, Urban                                           21
 City planning--United States                               21
Architecture--History                                       20
 Architecture, Domestic--Designs and plans                  20
 Exhibition catalogs                                        19
 Architecture and society--United States                    19
 ARCHITECTURE / General.                                    19
 Illustrated works                                          18
 Architecture--United States--History--20th century         17
 Architecture--Japan--History--21st century.                16
Architecture--Spain--Periodicals.                           16
 Public spaces                                              16
 Architecture--Psychological aspects                        16
 Urban renewal                                              16
 Urban ecology (Sociology)                                  16
 Architecture--20e siècle--Périodiques.                   16
 Architecture, Modern--21st century--Designs and plans.     15
 Architecture--Espagne--20e siècle--Périodiques.          15
Name: Subjects, dtype: int64

In [25]:
df_2020yr.groupby('Subjects')['Date'].size()

Subjects
 1477-1806                             2
 1500-1599                             1
 1700-1799                             1
 1700-1899                             1
 1800 - 1899                           1
                                      ..
Zaha Hadid Architects--Catalogs.       1
Zaha Hadid Architects--Exhibitions.    1
Zumthor, Peter                         1
Zumthor, Peter--Aesthetics.            1
world.                                 2
Name: Date, Length: 5213, dtype: int64

In [20]:
counts = df_2020yr.groupby(['Subjects', 'Date']).size().reset_index(name='Counts').sort_values(by=['Counts'], ascending=[False])

heads = counts.head(50).reset_index(drop=True)

tails = counts.tail(50).reset_index(drop=True) 

heads.to_csv('2020Heads.csv', index=False)  
tails.to_csv('2020Tails.csv', index=False)

In [ ]:
print(counts)